.header-background-color {
  background-color: white;
}
.navbar-setting {
  padding: 0px;
}
.header-logo-size {
  width: 147px;
  height: 20px;
}
.header-left {
  display: flex;
}
.header-right {
  display: flex;
}
.header-space {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}
.header-left-font {
  padding: 20px;
  margin: 0 30px;
  font-size: 16px;
  font-weight: 900;
}
.header-rirght-font {
  font-size: 14px;
  display: flex;
  align-items: center;
}
/* ----------------header part-------------------------- */

/*----------------carousel part---------------------- */
.carousel-text-color {
  color: black;
}
.carousel-img {
  width: auto;
  height: 16.25rem;
}
.crausel-text-style {
  font-weight: 600;
}
/* ---------------carousel part--------------------- */

/* ---------------main part------------------- */
.recruit-text {
  font-size: 1.375rem;
  font-weight: 700;
}
.recruit-textbox {
  position: absolute;
  margin-left: 170px;
  padding-top: 30px;
}
.box {
  width: 428px;
  height: 232px;
  padding: 1.5rem;
  border: 1px solid rgb(215, 226, 235);
  border-radius: 20px;
}
.box-setting {
  display: flex;
  border: 3px solid rgb(215, 226, 235);
  background-color: white;
  border-radius: 1rem;
  width: 350px;
  padding: 20px 20px;
}
.logo-position {
  padding-right: 24px;
}
.logo-size {
  width: 76px;
  height: 76px;
}
.box-text1 {
  font-size: 1.125rem;
  font-weight: 700;
}
.box-text2 {
  font-weight: 500;
  color: rgb(120, 144, 160);
  margin-bottom: 0.5rem;
}
.box-text3 {
  color: rgb(120, 144, 160);
  font-size: 0.875rem;
}
.button {
  color: rgb(68, 87, 108);
  width: 70px;
  font-size: 0.75rem;
  padding: 2px 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid rgb(215, 226, 235);
  background-color: rgb(240, 245, 250);
  color: rgb(68, 87, 108);
}
.box-content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-left: 10px;
}
.box-margin {
  margin: 15px;
}
.second-main-img {
  width: 160px;
  height: 160px;
}
.second-main-img-box {
  border-radius: 20px;
}
.second-main {
  display: flex;
  justify-content: space-around;
}
.second-main-headline {
  margin-top: 30px;
  margin-bottom: 30px;
}
.span-tag-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}
.h6-tag-font {
  font-family: Inter, "Noto Sans KR", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
}

.second-main-background1 {
  background-color: rgb(255, 243, 224);
}
.second-main-background2 {
  background-color: rgb(224, 242, 241);
}
.second-main-background3 {
  background-color: rgb(251, 233, 231);
}
.second-main-background4 {
  background-color: rgb(232, 245, 233);
}
/* ---------------main part------------------- */

/* ----------------footer part--------------- */
.container {
  max-width: 1170px;
  /* width: 100%; */
  padding-top: 80px;
  padding-bottom: 50px;
}

.first-box {
  display: flex;
  justify-content: space-between;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
}

.sub-title {
  color: #44576c;
  margin: 20px 0px;
  font-weight: 700;
  line-height: 1.5;
}

.footer-menu-item {
  font-size: 14px;
  color: rgb(152, 168, 185);
}

.time-desc {
  font-size: 12px;
  color: rgb(152, 168, 185);
}

.footer-sub-menu-item {
  padding-bottom: 15px;
  padding-top: 3px;
  font-size: 12px;
  color: rgb(152, 168, 185);
}

.first-line {
  color: #919496;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}

.second-line {
  color: #919496;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.second-line-item {
  margin-right: 24px;
  color: #919496;
}

.a-line {
  text-decoration-line: none;
}

.last-sub-item {
  padding-left: 10px;
}
/* ----------------footer part--------------- */
